:root {
  --intuise-color-primary: #02b9c9;
  --intuise-color-primary-2: #09BDCD;
  --intuise-color-grey: #d9d9d9;
  --intuise-color-text-primary: #2f2f2f;
  --intuise-color-text-secondary: #8a8a8a;
  --intuise-color-shades-white: #fefefe;
}
